[user]
	name = Felix Wolff
	email = wolff.felix@protonmail.com
[pull]
	rebase = false
[core]
	editor = vim
[gpg]
	program = /usr/local/bin/gpg

[includeIf "gitdir:~/celonis/"]
  path = ~/.gitconfig.work
