#!/bin/sh

# set up environment vars
export PATH=$PATH:~/.gem/ruby/2.1.0/bin:~/bin
export BROWSER=chromium

# for less colors
#export LESS_TERMCAP_mb='\E[01;31m'       # begin blinking
#export LESS_TERMCAP_md='\E[01;38;5;74m'  # begin bold
#export LESS_TERMCAP_me='\E[0m'           # end mode
#export LESS_TERMCAP_se='\E[0m'           # end standout-mode
#export LESS_TERMCAP_so='\E[38;5;246m'    # begin standout-mode - info box
#export LESS_TERMCAP_ue='\E[0m'           # end underline
#export LESS_TERMCAP_us='\E[04;38;5;146m' # begin underline

export GREP_OPTIONS='--color=auto'
export GREP_COLORS='ms=01;31:mc=01;31:sl=:cx=:fn=35:ln=32:bn=32:se=36'

export EDITOR='subl3'
export PAGER='less'

#eval (dircolors -b ~/.dircolors)

cd $HOME/..

# enable core dumps
ulimit -c unlimited

# switch off stupid beep
/usr/bin/xset b off
/usr/bin/xset s 300

# set german keymap
/usr/bin/setxkbmap de

# Start a D-Bus session
#source /etc/X11/xinit/xinitrc.d/30-dbus
#if [ -d /etc/X11/xinit/xinitrc.d ]; then
#  for f in /etc/X11/xinit/xinitrc.d/*; do
#    [ -x "$f" ] && . "$f"
#  done
#  unset f
#fi

# Start GNOME Keyring
#/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
#eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets)
## You probably need to do this too:
#export SSH_AUTH_SOCK
#export GPG_AGENT_INFO
#export GNOME_KEYRING_CONTROL
#export GNOME_KEYRING_PID

# connect external monitors
if /usr/bin/xrandr | grep -q 'VGA1 connected'; then
    rm /tmp/vga-connected-$USER
    ~/bin/connect-vga.sh
else
    /usr/bin/xrandr --output VGA1 --off
fi

# set random background
~/bin/setrandombg.sh
